<div class="row-fluid">
	<div class="span4">
		<div id='chart1' class='chart half with-transitions' style="height:400px">
			<svg></svg>
		</div>
	</div>
	<div class="span4">
		<div id='chart2' class='chart half with-transitions' style="height:400px">
			<svg></svg>
		</div>
	</div>
	<div class="span4">
		<div id='chart3' class='chart half with-transitions' style="height:400px">
			<svg></svg>
		</div>
	</div>
</div>

